.my-slider {
  padding: 4px;
}
.confirmed {
  font-size: 0.7rem;
  background: linear-gradient(to bottom, #32de84, #ace1af);
  padding-bottom: 8px;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
}
.confirmed h4 {
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
  padding: 6px 0;
}
.confirmed p {
  margin: 0;
  font-weight: bold;
  font-size: 0.85rem;
  padding-bottom: 6px;
}

.active {
  font-size: 0.7rem;
  background: linear-gradient(to bottom, #007fff, #89cff0);
  padding-bottom: 8px;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
}
.active h4 {
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
  padding: 6px 0;
}
.active p {
  margin: 0;
  font-weight: bold;
  font-size: 0.85rem;
  padding-bottom: 6px;
}

.deaths {
  font-size: 0.7rem;
  background: linear-gradient(to bottom, #aa0000, #fd5c63);
  padding-bottom: 8px;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
}
.deaths h4 {
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
  padding: 6px 0;
}
.deaths p {
  margin: 0;
  font-weight: bold;
  font-size: 0.85rem;
  padding-bottom: 6px;
}
